.Chat-main

  .Chat-main__group-info
    .header-items
      .header__left-box
        %p.header-name 
          = @group.name
        %p.header-group
          - @group.users.each do |user|
            = user.name
      
      .header__right-box
        = link_to "Edit", edit_group_path(@group.id), class: "btn"



  .Chat-main__message-list
    = render @messages
        


  .Chat-main__massage-form
    .Form__contents
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Form__inputBox--left
          = f.text_field :content,class: "Form__inputText",placeholder:"type a message"
          = f.label :image, class: 'btn-image' do
            = icon('far', 'image')
          = f.file_field :image, class: 'input'
        .Form__inputBox--right
          = f.submit 'Send', class: 'Form__submitBtn'
          
       